<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.chewy.srcsync</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>/Users/pbergeron/scripts/srcsync.sh</string>
	</array>
    <key>StandardOutPath</key>
	<string>/Users/pbergeron/logs/launchctl/srcsync.log</string>
	<key>StartInterval</key>
    <integer>300</integer>
</dict>
</plist>